body {
  height: 100vh;
  width: 100vw;
  background-image: url("https://cdn.pixabay.com/photo/2016/09/08/02/06/fairy-tale-1653150_960_720.jpg");
  background-size: cover;
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  font-family: 'Vollkorn', serif;
  font-size: 18px;
  overflow-x: hidden;
}


